<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap の CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap の JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style>
    .file-upload-wrapper {
      margin: 50px;
      text-align: center;
    }
    .btn-upload {
      margin-top: 10px;
    }
    .card {
      margin-bottom: 20px;
    }
    .output-img {
      width: 50vw; /* Viewport width (vw) を使用して、ビューポートの 50% の幅に設定 */
      max-width: 100%; /* 画像がその自然な大きさより大きくならないようにする */
      border: 2px solid black; /* 画像の周りに2pxの黒い枠を追加 */
    }
    .btn-primary {
      margin-bottom: 20px; /* ボタンの下側に20pxのマージンを追加 */
    }
  </style>
</head>
<body>
  <div class="file-upload-wrapper">
    <h1>CSVファイルアップロード</h1>
    <div class="card">
      <div class="card-header">
        <h2>Style情報</h2>
      </div>
      <div class="card-body">
        <input type="file" class="form-control-file" id="StyleFile" name="styleCSV" accept=".csv">
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2>Card情報</h2>
      </div>
      <div class="card-body">
        <input type="file" class="form-control-file" id="CardFile" name="cardCSV" accept=".csv">
      </div>
    </div>
    <button class="btn btn-primary" onclick="upload()">Upload</button>
    <div id="output"></div>
  </div>
</body>
</html>

<script>
  async function upload() {
    const styleFile = document.getElementById('StyleFile').files[0];
    const cardFile = document.getElementById('CardFile').files[0];
    const formData = new FormData();
    formData.append('styleCSV', styleFile);
    formData.append('cardCSV', cardFile);
    const res = await fetch('/generate', {
      method: 'POST',
      body: formData
    });
    const images = await res.json();
    const output = document.getElementById('output');
    output.innerHTML = '';
    for (const image of images) {
      const img = document.createElement('img');
      img.src = `${image.imageData}`;
      img.classList.add('output-img'); /* 新たに追加したクラスを適用 */
      output.appendChild(img);
    }
  }
</script>
